@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
body {
    width: 16rem;
    margin: 0 auto;
}
.body{
   display: flex;
   width: 16rem;
   .container-left{
       width: px2rem(120);
       height: px2rem(1136);
       background-color: rgba(0,0,0,0.5);
   }
   .container-right{
       width: px2rem(520);
       height: px2rem(1136);
       font-size: px2rem(26);
       font-weight: 700;
//     background-color: rgba(0,0,0,0.5);
       .header-list{
           width: px2rem(520);
           height: px2rem(60); 
           background-color: #cd9300;
       }
       .right-cneter{
           width: px2rem(520);
           display: flex;
           justify-content: flex-end;
           .right-center{
               width: px2rem(500);
//             height: px2rem(1136);
               .filters{
                   width: px2rem(500);
//                 height: px2rem(60);
                   .right-center-left{
                       width: px2rem(450);
                       height: px2rem(60);
                       line-height: px2rem(60);
                   }
                   .right-center-right{
                       width: px2rem(50);
                       height: px2rem(60);
                       line-height: px2rem(60);
                   }
                   .hidden-button{
                       width: px2rem(500);

                       button{
                           width: px2rem(156);
                           height: px2rem(54);
                           line-height: px2rem(54);
                           margin-right: px2rem(10);
                           margin-bottom: px2rem(10);
                           background-color: #dcdcdc;
                           border-radius: px2rem(10);
                       }
                   }
                   .filter-input{
                       width: px2rem(470);
                       height: px2rem(54);
                       background-color: #dcdcdc;
                       border-radius: px2rem(10);
                       margin: px2rem(10) 0 px2rem(20) 0 ;
                       .input-center{
                           height: px2rem(40);
                           line-height: px2rem(40);
                           width: px2rem(28);
                           text-align: center;
                       }
                       input{
                           width: px2rem(215);
                           height: px2rem(40);
                           line-height: px2rem(40);
                           text-align: center;
                           border: px2rem(3) solid #a1a1a1;
                           border-radius: px2rem(10);
                           font-size: px2rem(22);
                       }
                   }
               }
           }
       }
}
}
.border-bottom{
    border-bottom: px2rem(1) solid #c2c2c2;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.footer-top{
    width: 16rem;
    height: px2rem(20);
    background-color: #a0a0a0;
    color: #d5332f;
    font-size: px2rem(16);
    height: px2rem(20);
    line-height: px2rem(20);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: px2rem(90);
}
.footer{
    border-top: px2rem(1) solid red;
    font-size: px2rem(27);
    width: 16rem;
    height: px2rem(90);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    span{
        font-size: px2rem(27);
        margin-top: px2rem(20);
    }
}