body {
  width: 16rem;
  margin: 0 auto; }

.body {
  display: flex;
  width: 16rem; }
  .body .container-left {
    width: 3rem;
    height: 28.4rem;
    background-color: rgba(0, 0, 0, 0.5); }
  .body .container-right {
    width: 13rem;
    height: 28.4rem;
    font-size: 0.65rem;
    font-weight: 700; }
    .body .container-right .header-list {
      width: 13rem;
      height: 1.5rem;
      background-color: #cd9300; }
    .body .container-right .right-cneter {
      width: 13rem;
      display: flex;
      justify-content: flex-end; }
      .body .container-right .right-cneter .right-center {
        width: 12.5rem; }
        .body .container-right .right-cneter .right-center .filters {
          width: 12.5rem; }
          .body .container-right .right-cneter .right-center .filters .right-center-left {
            width: 11.25rem;
            height: 1.5rem;
            line-height: 1.5rem; }
          .body .container-right .right-cneter .right-center .filters .right-center-right {
            width: 1.25rem;
            height: 1.5rem;
            line-height: 1.5rem; }
          .body .container-right .right-cneter .right-center .filters .hidden-button {
            width: 12.5rem; }
            .body .container-right .right-cneter .right-center .filters .hidden-button button {
              width: 3.9rem;
              height: 1.35rem;
              line-height: 1.35rem;
              margin-right: 0.25rem;
              margin-bottom: 0.25rem;
              background-color: #dcdcdc;
              border-radius: 0.25rem; }
          .body .container-right .right-cneter .right-center .filters .filter-input {
            width: 11.75rem;
            height: 1.35rem;
            background-color: #dcdcdc;
            border-radius: 0.25rem;
            margin: 0.25rem 0 0.5rem 0; }
            .body .container-right .right-cneter .right-center .filters .filter-input .input-center {
              height: 1rem;
              line-height: 1rem;
              width: 0.7rem;
              text-align: center; }
            .body .container-right .right-cneter .right-center .filters .filter-input input {
              width: 5.375rem;
              height: 1rem;
              line-height: 1rem;
              text-align: center;
              border: 0.075rem solid #a1a1a1;
              border-radius: 0.25rem;
              font-size: 0.55rem; }

.border-bottom {
  border-bottom: 0.025rem solid #c2c2c2; }

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.footer-top {
  width: 16rem;
  height: 0.5rem;
  background-color: #a0a0a0;
  color: #d5332f;
  font-size: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 2.25rem; }

.footer {
  border-top: 0.025rem solid red;
  font-size: 0.675rem;
  width: 16rem;
  height: 2.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF; }
  .footer span {
    font-size: 0.675rem;
    margin-top: 0.5rem; }

/*# sourceMappingURL=index04.css.map */
